.skill-select__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--gray-300) url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
  background-position: right 5px top 50%;
  background-size: 12px;

  width: 50px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px;
  color: var(--text-light);
  border: 1px solid var(--gray-1200);
  outline: none;
}

.skill-select__select:hover,
.skill-select__select:active {
  -webkit-box-shadow: 0 0 0 2px var(--text-light) inset;
  -moz-box-shadow: 0 0 0 2px var(--text-light) inset;
  box-shadow: 0 0 0 2px var(--text-light) inset;
}

.skill-select__select:focus {
  -webkit-box-shadow: 0 0 0 2px var(--gray-1200) inset;
  -moz-box-shadow: 0 0 0 2px var(--gray-1200) inset;
  box-shadow: 0 0 0 2px var(--gray-1200) inset;
}

.skill-select__option {
  background: var(--gray-300);
  line-height: 50px;
}

