.sidebar {
  height: 100%;
  width: var(--sidebar-width);

  top: 0;
  left: 0;
  bottom: 0;

  background-color: var(--gray-200);
  border-right: 1px solid var(--gray-100);

  z-index: 2;
}

.sidebar li:nth-child(2) {
  border-top: 1px solid var(--gray-100);
}

.sidebar li:nth-child(n+2) {
  border-bottom: 1px solid var(--gray-100);
}

.sidebar li:nth-child(n+2):hover {
  background: linear-gradient(to left top, #ec4645, #2c52c7);
}
