.skill-level-group {
  background-color: var(--gray-200);
}

.skill-level-group__skill-name {
  margin-bottom: 0.5rem;
}

.skill-level-group__select-wrapper {
  flex-shrink: 0;
}

@media (min-width: 450px) {
  .skill-level-group__skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .skill-level-group__skill-name {
    margin-bottom: 0;
  }

  .skill-level-group__reset {
    margin: 0;
  }
}
