.character-img-wrapper {
  max-width: 130px;
}

.character-img-wrapper * svg,
.character-img-wrapper > svg {
  max-width: 130px;
  width: 100%;
}

.character-img {
  max-width: 130px;
  width: 100%;
}

.img-border {
  flex-shrink: 0;
  border: calc(2px + 0.1vw) solid transparent;
  background-origin: border-box;
  background-size: cover;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom left, #fff, #8a8a8a);
  border-radius: 20px;
  overflow: hidden;
}

.character-vision {
  top: 5px;
  left: 5px;
  width: 30%;
}

.character-background-five-star {
  background-color: var(--five-star-background);
}

.character-background-four-star {
  background-color: var(--four-star-background);
}
