.root {
  --module: 8px;

  --space-base: 1rem;
  --space-xxxs: 0.0625rem;
  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-ss: 0.375rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1.25rem;
  --space-xl: 1.5rem;
  --space-xxl: 2rem;
  --space-xxxl: 3rem;

  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.6875rem;
  --font-size-sm: 0.75rem;
  --font-size-default: 0.8125rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.375rem;
  --font-size-xl: 1.625rem;

  --line-height-xxs: 0.625rem;
  --line-height-xs: 1rem;
  --line-height-sm: 1rem;
  --line-height-default: 1.125rem;
  --line-height-md: 1.25rem;
  --line-height-lg: 2rem;
  --line-height-xl: 2.25rem;

  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;

  --border-radius-base: 2px;
  --border-radius-md: 3px;
  --border-radius-lg: 4px;
  --border-radius-xl: 5px;
  --border-radius-xxl: 6px;
  --border-radius-xxll: 8px;
  --border-radius-xxxl: 10px;

  --transition-time-base: 300ms;
  --transition-time-fast: 100ms;
  --transition-time-sidebar-in: 250ms;
  --transition-time-sidebar-out: 350ms;

  --footer-height: 40px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  font-size: 1px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.font-xxs {
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
}

.font-xs {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.font-sm {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.font-default {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

.font-md {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.font-lg {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.font-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-top {
  vertical-align: top;
}

.text-middle {
  vertical-align: middle;
}

.text-bottom {
  vertical-align: bottom;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.ml-auto {
  margin-left: auto;
}

.pointer {
  cursor: pointer;
}

body {
  background: linear-gradient(358deg, #00115b, #1a4d6b, #1a4d6b, #00115b);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

.app {
  text-align: center;
  height: 100vh;
  color: var(--bs-gray-200);
  position: relative;

  display: flex;
  flex-direction: column;
}

